@model IEnumerable<FoodMVC.Models.MenuItems>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Cart
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RestaurantId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodCategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <a href="@Url.Action("AddToCart", "Cart", new { menuItemId = item.Id, name = item.Name, price = item.Price })"
               class="btn btn-primary">
                Add to Cart
            </a>
        </td>
        <td>
            <a href="#" class="btn btn-primary" onclick="submitPostForm()">Place Order</a>
        </td>
    </tr>
}

</table>

<script>
    function submitPostForm() {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '@Url.Action("PlaceOrder", "Order")';
        document.body.appendChild(form);
        form.submit();
    }
</script>